
# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/

# Backend secrets (keep local only)
/backend-service/src/main/resources/application.yml